* {
    text-align: center;
}

header {
    background-color: grey;
    color: white;
}

section {
    background-color: white;
}

footer {
    background-color: grey;
    color: white;
}

a {
    color: white;
}